version: 2
jobs:
  build:
    docker:
    - image: node:8
    steps:
    - checkout
    # Download and cache dependencies
    - restore_cache:
      keys:
        - v1-dependencies-{{ checksum "package.json" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-
    - run: npm install
    - save_cache:
      paths:
        - node_modules
      key: v1-dependencies-{{ checksum "package.json" }}
    - run: npm run build
  test:
    docker:
    - image: node:8
    steps:
    - run: npm run test
    - run: npm run test_js
    
